.search-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.search-bar-container {
  display: flex;
}

.search-bar-container input {
  border: 1px solid #4f617d5f;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 0.2rem 4rem 0.2rem 1rem;
}

.search-bar-button {
  border: transparent;
  padding: 0.2rem 0.7rem 0.2rem 0.7rem;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  margin-left: 1rem;
  cursor: pointer;
  background: white;
  color: black;
  border-radius: 10px;
}

.search-bar-button:hover {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgb(134, 174, 216) 0%, rgb(187, 225, 233) 100%);
 }
 
 .search-bar-button:active {
  transform: translate(0em, 0.2em);
 }

.export-search-bar-container {
  display: flex;
  border: 1px solid #484848;
  color: #484848;
  cursor: pointer;
  background: white;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  border-radius: 10px;
}

.export-search-bar-containerr:hover {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgb(134, 174, 216) 0%, rgb(187, 225, 233) 100%);
 }
 
 .export-search-bar-container:active {
  transform: translate(0em, 0.2em);
 }